{% extends "bootstrap/base.html" %}
{% block title %}Tae Hee's Site{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle"
 data-toggle="collapse" data-target=".navbar-collapse">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="/">Tae Hee's Site</a>
 </div>
 <div class="navbar-collapse collapse">
 <ul class="nav navbar-nav">
 <li><a href="/">Home</a></li>
 </ul>
 </div>
 </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
 {% block page_content %}{% endblock %}
</div>
{% endblock %}
<!-- super is used to pass down all the above statement for visual
     below code is for the small icon in the top corner
-->
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='Screen Shot 2021-08-31 at 5.50.21 PM.png') }}"
 type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='Screen Shot 2021-08-31 at 5.50.21 PM.png') }}"
 type="image/x-icon">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}